.jumbotron {
  background-color: transparent;
}

#app {
  min-width: 247px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #90b9f9;
}

header {
  background-color: #4385ef;
  padding: 10px 90px 15px 90px;
  border-radius: 15px;
  color: #2c4b7c;
  width: 613px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 2em;
  box-shadow: inset 0px -5px 1px #234d8e, 6px 7px 3px rgba(66, 66, 66, 0.5);
  & h1 {
    font-family: rubik;
    font-weight: 800;
    user-select: none;
    text-shadow: 2px 2px 2px;
  }
